<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>FullContact Kubernetes Task</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="https://www.fullcontact.com/" role="button">FullContact Website</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Enrich API </h4>
                <p>Build real-time customer intelligence into everything you do.</p>
 
                <h4>Email Verification API</h4>
                <p>Improve email deliverability by eliminating hard bounces, reducing spam complaints and minimizing fraud..</p>
 
                <h4>Card Reader API</h4>
                <p>The absolute best way to bring business card data into your app. Time-saving, accurate and dead simple.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Contacts API</h4>
                <p>The FullContact Contacts API is a set of HTTP endpoints that let you integrate with FullContact contact management services such as reading, updating and searching user’s contact information.</p>
 
                <h4>Integrations</h4>
                <p>360º Customer Insights</p>
 
                <h4>Data Solutions</h4>
                <p>Over a billion person and company profiles at your fingertips.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2018</p>
        </footer>
 
    </div>
</body>
 
</html>



